<%layout("./layouts/boilerplate") %>

           
       <div class="card col-10  offset-2">
        <div class="row">
            <div class="col-8">
  <img class="card-img" src="<%=listing.image%>" alt="Card image" style="height:20rem;">
  <!-- <div class="card-img-overlay"> -->
    <!-- <h5 class="card-title">Card title</h5> -->
    
    <p class="card-text">
        <b> <%=listing.title %> in <%= listing.location %> , <%= listing.country %> </b> <br>
        <%= listing.description %> <br>
        &#8377; <%= listing.price %>/night



    </p>
    <div class="show-btns">
     <a href="/listings/<%=listing.id%>/edit" class="show-link"> <button class="btn btn-danger">Edit</button></a>
            <br> <br>
            <form action="/listings/<%=listing.id%>?_method=DELETE" method="post" class="show-link">
                <!-- <br> -->
                <button class="btn btn-secondary ">Delete</button>
            </form>
    </div>
     </div>
     </div>
  </div>
</div>     


           
       


    
    

